.panel.panel-default
  .panel-body
    - selected_value = @booking.adobe_connect_meeting_room_name if @booking.adobe_connect_meeting_room
    = form.input :adobe_connect_meeting_room_id, collection: @meeting_rooms_names, selected: selected_value, hint: t('mybookings.bookings.hints.meeting_room_hint'), include_blank: false
    = form.input :adobe_connect_meeting_privacy,
        as: :radio_buttons,
        include_blank: false,
        input_html: { class: 'js-booking-privacy-type' },
        checked: 'closed',
        collection: Mybookings::AdobeConnectBooking.adobe_connect_meeting_privacies.keys.map {|key| [t("mybookings.bookings.privacies.#{key}_html"), key]}
    .js-dynamic-form-element-to-hide
      = form.input :adobe_connect_participants,
          input_html: { rows: 3, value: @booking.adobe_connect_participants.join(', '), data: { 'dynamic-form-disables-with': '.js-booking-privacy-type:checked=opened'} },
          hint: t('mybookings.bookings.hints.participants_hint')

:coffeescript
  $('#adobe_connect_booking_adobe_connect_meeting_room_id').select2
    tags: true
