= content_for :email_body do

  = t('.introduction_html', resource_type_name: @event.resource_resource_type_name, minutes: @event.booking_resource_type_minutes_in_advance)

  = t('.extra_html', url: @event.booking_adobe_connect_meeting_room_url)

  = t('mybookings.mailers.footer_html')
